/*--------------------------------------------------------------
    Block: Base Margins
--------------------------------------------------------------*/
.wp-block-archives,
.wp-block-button,
.wp-block-calendar,
.wp-block-categories,
.wp-block-code,
.wp-block-columns,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-embed,
.wp-block-file,
.wp-block-gallery,
.wp-block-group,
.wp-block-image,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-media-text,
.wp-block-navigation,
.wp-block-post-excerpt,
.wp-block-post-featured-image,
.wp-block-preformatted,
.wp-block-pullquote,
.wp-block-query,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-search,
.wp-block-separator,
.wp-block-site-title,
.wp-block-social,
.wp-block-social-links,
.wp-block-tag-cloud,
.wp-block-table,
.wp-block-verse,
.wp-block-video {
  margin-bottom: calc(2 * var(--wp--custom--spacing--base));
  margin-top: calc(2 * var(--wp--custom--spacing--base));
}
/*--------------------------------------------------------------
    Block: Buttons
--------------------------------------------------------------*/
.wp-block-buttons {
  margin-top: calc(1.5 * var(--wp--custom--spacing--base));
  margin-bottom: calc(1.5 * var(--wp--custom--spacing--base));
  -moz-column-gap: calc(1.5 * var(--wp--custom--spacing--base));
  column-gap: calc(1.5 * var(--wp--custom--spacing--base));
}
.wp-block-buttons > .wp-block-button {
  margin: calc(0.5 * var(--wp--custom--spacing--base)) 0;
}
.wp-block-buttons:first-child > .wp-block-button:only-child {
  margin-top: 0;
}
.wp-block-buttons:last-child > .wp-block-button:only-child {
  margin-bottom: 0;
}
.wp-block-button__link,
:root .wp-block-file__button {
  text-align: center;
}
:root .wp-block-button__link:hover, :root .wp-block-button__link:focus,
:root .wp-block-file__button:hover,
:root .wp-block-file__button:focus {
  text-decoration: underline;
}
/* Style: outline
------------------------------*/
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
  padding: 0.9em 1.3em;
}
/*--------------------------------------------------------------
    Block : Calendar
--------------------------------------------------------------*/
.wp-block-calendar table {
  background-color: var(--wp--preset--color--recommended-color-03);
  color: inherit;
  font-size: inherit;
  margin: 0;
}
:root .wp-block-calendar caption,
:root .wp-block-calendar tbody td,
:root .wp-block-calendar th {
  border: 2px solid var(--wp--preset--color--sub-accent-color);
  color: inherit;
  padding: calc(0.3 * var(--wp--custom--spacing--base)) 0;
  text-align: center;
}
:root .wp-block-calendar caption {
  color: var(--wp--preset--color--white);
}
:root .wp-block-calendar table thead {
  border: none;
}
:root .wp-block-calendar table th {
  background-color: transparent;
  font-weight: var(--wp--custom--font-weight--bold);
}
:root .wp-block-calendar nav {
  display: flex;
  justify-content: space-between;
  margin-top: var(--wp--custom--spacing--base);
}
:root .wp-calendar-table caption {
  background-color: var(--wp--preset--color--accent-color);
  border-bottom: none;
  font-size: var(--wp--preset--font-size--small);
  letter-spacing: var(--wp--custom--letter-spacing--body);
  text-transform: uppercase;
}
/*--------------------------------------------------------------
    Block : Columns
--------------------------------------------------------------*/
.wp-block-columns .wp-block-column > *:first-child {
  margin-top: 0;
}
.wp-block-columns .wp-block-column > *:last-child {
  margin-bottom: 0;
}
.wp-block-column h1,
.wp-block-column h2,
.wp-block-column h3,
.wp-block-column h4,
.wp-block-column h5,
.wp-block-column h6 {
  margin-top: calc(2 * var(--wp--custom--spacing--base));
}
/* Style : No Gutters
------------------------------*/
.wp-block-columns.is-style-cormorant-no-gutters > .wp-block-column {
  margin: 0 !important;
}
/*--------------------------------------------------------------
    Block : Comments
--------------------------------------------------------------*/
.wp-block-post-comments {
  margin-top: calc(4 * var(--wp--custom--spacing--base));
  margin-bottom: calc(4 * var(--wp--custom--spacing--base));
  /* Comments Closed
  ------------------------------*/
  /* Comments Headers
  ------------------------------*/
}
.wp-block-post-comments > *:first-child, :root .wp-block-post-comments .comment-content > *:first-child {
  margin-top: 0;
}
.wp-block-post-comments > *:last-child, :root .wp-block-post-comments .comment-content > *:last-child {
  margin-bottom: 0;
}
.wp-block-post-comments .commentlist,
.wp-block-post-comments .commentlist .comment {
  list-style: none;
  margin: 0;
}
.wp-block-post-comments .commentlist .comment {
  border-top: 2px solid var(--wp--preset--color--accent-color);
  margin: calc(1.5 * var(--wp--custom--spacing--base)) 0 0 0;
  padding: calc(1.5 * var(--wp--custom--spacing--base)) 0 0 0;
}
.wp-block-post-comments .commentlist .comment .comment {
  margin-left: calc(2 * var(--wp--custom--spacing--base));
}
.wp-block-post-comments .nocomments {
  background-color: var(--wp--preset--color--recommended-color-03);
  color: var(--wp--preset--color--recommended-color-01);
  font-size: var(--wp--preset--font-size--large);
  font-weight: var(--wp--custom--font-weight--bold);
  line-height: var(--wp--custom--line-height--heading);
  text-align: center;
  padding: var(--wp--custom--spacing--base);
}
.wp-block-post-comments > h3,
.wp-block-post-comments .comment-reply-title {
  margin-top: 0;
}
.wp-block-post-comments > h3 > .navigation {
  display: none;
}
/* Comments Item
  ------------------------------*/
.comment-body {
  position: relative;
}
.comment-body > .reply {
  align-items: center;
  display: flex;
  margin: 0;
  min-height: calc(3 * var(--wp--custom--spacing--base));
  position: absolute;
  right: 0;
  top: 0;
}
.comment-meta {
  display: flex;
  flex-direction: column;
  font-size: var(--wp--preset--font-size--small);
  justify-content: center;
  margin-bottom: calc(1.5 * var(--wp--custom--spacing--base));
  min-height: calc(3 * var(--wp--custom--spacing--base));
  padding: 0 0 0 calc(3 * var(--wp--custom--spacing--base));
  position: relative;
}
.comment-meta .says {
  display: none;
}
.wp-block-post-comments .comment-author .avatar {
  border-radius: 50%;
  height: calc(2 * var(--wp--custom--spacing--base));
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(2 * var(--wp--custom--spacing--base));
}
.wp-block-post-comments .commentlist .comment {
  padding-left: 0;
}
.wp-block-post-comments .commentlist .comment p {
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1em 0;
}
.wp-block-post-comments .comment-meta,
.wp-block-post-comments .comment-author {
  margin-left: 0;
}
.comment-metadata a {
  text-decoration: none;
}
.comment-metadata a:hover, .comment-metadata a:focus {
  text-decoration: underline;
}
.comment-reply-link,
.comment-edit-link {
  background-color: var(--wp--preset--color--accent-color);
  color: var(--wp--preset--color--white);
  border: 1px solid currentColor;
  font-size: var(--wp--preset--font-size--tiny);
  font-weight: var(--wp--custom--font-size--bold);
  letter-spacing: var(--wp--custom--letter-spacing--heading);
  padding: 0.3em 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}
.comment-reply-link:hover, .comment-reply-link:focus,
.comment-edit-link:hover,
.comment-edit-link:focus {
  text-decoration: underline;
}
/* Comments Navigation
------------------------------*/
.wp-block-post-comments .navigation {
  display: flex;
  font-size: 0.8em;
  padding-top: calc(2 * var(--wp--custom--spacing--base));
}
.wp-block-post-comments .navigation .alignright {
  margin-left: auto;
  text-align: right;
}
.wp-block-post-comments .navigation .alignleft,
.wp-block-post-comments .navigation .alignright {
  margin-bottom: 0;
  margin-top: 0;
}
.wp-block-post-comments .navigation a {
  text-decoration: none;
}
.wp-block-post-comments .navigation a:hover, .wp-block-post-comments .navigation a:focus {
  text-decoration: underline;
}
/* Comment Respond
------------------------------*/
.comment-respond {
  background-color: var(--wp--preset--color--white);
  padding: calc(2 * var(--wp--custom--spacing--base)) calc(1.5 * var(--wp--custom--spacing--base));
}
.wp-block-post-comments > .comment-respond:not(first-child) {
  margin-top: calc(2 * var(--wp--custom--spacing--base));
}
.comment-reply-title small {
  font-size: 1rem;
  letter-spacing: var(--wp--custom--letter-spacing--body);
  margin-left: var(--wp--custom--spacing--base);
  white-space: nowrap;
}
/* Comment Form
------------------------------*/
.comment-form {
  margin: 0;
}
.comment-form a {
  color: inherit;
}
.comment-form:after {
  clear: both;
  content: "";
  display: block;
}
.comment-form p {
  margin-bottom: calc(1.5 * var(--wp--custom--spacing--base));
  width: 100%;
}
.comment-form p:last-of-type {
  margin-bottom: 0;
}
:root .comment-form .logged-in-as,
:root .comment-form .comment-notes {
  margin: calc(-0.5 * var(--wp--custom--spacing--base)) 0 calc(2 * var(--wp--custom--spacing--base)) 0;
}
.comment-form-cookies-consent {
  align-items: baseline;
  display: flex;
}
.comment-respond label {
  display: block;
}
:root .wp-block-post-comments input,
:root .wp-block-post-comments textarea {
  border: 2px solid currentColor;
}
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond textarea {
  margin-bottom: 0;
}
.comment-respond input[type=submit] {
  background-color: var(--wp--preset--color--accent-color);
  display: block;
  margin-left: auto;
  width: 100%;
}
/* Reply Respond
------------------------------*/
.commentlist .comment-respond {
  margin: calc(1.5 * var(--wp--custom--spacing--base)) 0 0;
}
/*--------------------------------------------------------------
    Block : Embed
--------------------------------------------------------------*/
.wp-block-embed.alignfull video,
.wp-block-embed.alignfull iframe {
  width: 100%;
}
.wp-block-embed .alignfull video,
.wp-block-embed .alignfull iframe {
  width: 100%;
}
/*--------------------------------------------------------------
    Block : Featured Image
--------------------------------------------------------------*/
.wp-block-post-featured-image a {
  display: block;
}
.wp-block-post-featured-image img {
  margin: 0 auto;
}
/*--------------------------------------------------------------
    Block : File
--------------------------------------------------------------*/
.wp-block-file__content-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.wp-block-file a.wp-block-file__button {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.wp-block-file a.wp-block-file__button:not(:only-child) {
  margin-left: var(--wp--custom--spacing--base);
}
.wp-block-file a.wp-block-file__button:active, .wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:hover, .wp-block-file a.wp-block-file__button:visited {
  opacity: 0.75;
}
.wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:hover {
  text-decoration: underline;
}
/*--------------------------------------------------------------
    Block : Gallery
--------------------------------------------------------------*/
.blocks-gallery-grid {
  width: 100%;
}
/*--------------------------------------------------------------
    Block : Group
--------------------------------------------------------------*/
:root .wp-block-group > *:first-child {
  margin-top: 0;
}
:root .wp-block-group > *:last-child {
  margin-bottom: 0;
}
:root .wp-block-group.has-background {
  padding: calc(2 * var(--wp--custom--spacing--base));
}
/*--------------------------------------------------------------
    Block : Heading
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}
h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
  padding: 0.25em 0.4em;
  /* @todo Are they needed?
  ------------------------------*/
  /* @todo Are they needed?
  ------------------------------*/
}
/*--------------------------------------------------------------
    Block : Image
--------------------------------------------------------------*/
.wp-block-image.alignfull img, .wp-block-image .alignfull img {
  width: 100%;
}
.wp-block-image.alignleft, .wp-block-image .alignleft {
  margin: 0 calc(1.5 * var(--wp--custom--spacing--base));
}
.wp-block-image.alignright, .wp-block-image .alignright {
  margin: 0 0 calc(1.5 * var(--wp--custom--spacing--base)) calc(1.5 * var(--wp--custom--spacing--base));
}
.wp-block-image img {
  display: block;
  height: auto;
  margin: 0;
}
:root .wp-block-image figcaption {
  margin-bottom: 0;
  margin-top: calc(0.7 * var(--wp--custom--spacing--base));
}
/*--------------------------------------------------------------
    Block : Latest Comments
--------------------------------------------------------------*/
.wp-block-latest-comments > .wp-block-latest-comments__comment {
  margin-left: 0;
  margin-bottom: calc(2 * var(--wp--custom--spacing--base));
}
.wp-block-latest-comments__comment-excerpt {
  margin-top: calc(0.5 * var(--wp--custom--spacing--base));
}
.wp-block-latest-comments__comment-date, .wp-block-latest-comments__comment-excerpt p {
  font-size: var(--wp--preset--font-size--small);
}
.wp-block-latest-comments__comment-excerpt p {
  line-height: var(--wp--custom--line-height--body);
  margin: 0 0 1em;
}
.wp-block-latest-comments__comment-excerpt p:last-child {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
    Block : Latest Posts
    @todo Preparing block style
--------------------------------------------------------------*/
.wp-block-latest-posts > li {
  margin-left: 0;
}
.wp-block-latest-posts__post-author, .wp-block-latest-posts__post-date {
  color: inherit;
  font-size: var(--wp--preset--font-size--tiny);
}
/*--------------------------------------------------------------
    Block : Media and Text
    @todo Preparing block styles
--------------------------------------------------------------*/
.wp-block-media-text .wp-block-media-text__content {
  padding: var(--wp--custom--spacing--base);
}
.wp-block-media-text:not(.has-background):not(.is-stacked-on-mobile) .wp-block-media-text__content {
  padding-top: 0;
  padding-bottom: 0;
}
:root .wp-block-media-text__content > *:first-child {
  margin-top: 0;
}
:root .wp-block-media-text__content > *:last-child {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
    Block : Navigation
--------------------------------------------------------------*/
.wp-block-navigation-item {
  line-height: var(--wp--custom--line-height--heading);
  margin: 0;
}
.wp-block-navigation .wp-block-page-list,
.wp-block-navigation .wp-block-page-list ul, .wp-block-navigation__container, .wp-block-navigation__container ul {
  gap: calc(0.5 * var(--wp--custom--spacing--base)) calc(1 * var(--wp--custom--spacing--base));
}
.wp-block-navigation .wp-block-navigation-link__submenu-icon, .wp-block-navigation .wp-block-page-list__submenu-icon {
  margin-left: calc(0.5 * var(--wp--custom--spacing--base));
}
.wp-block-navigation .wp-block-navigation-link__submenu-icon svg, .wp-block-navigation .wp-block-page-list__submenu-icon svg {
  height: 0.6em;
  width: 0.6em;
}
.wp-block-navigation .current-menu-item,
.wp-block-navigation .wp-block-navigation-link a:hover,
.wp-block-navigation .wp-block-navigation-link a:focus {
  text-decoration: underline;
}
:root nav.wp-block-navigation > *:not(:only-child), :root nav.wp-block-navigation_responsive-container-content > *:not(:only-child) {
  margin-top: calc(1 * var(--wp--custom--spacing--base));
  margin-bottom: calc(1 * var(--wp--custom--spacing--base));
}
/* Type : Vertical */
.is-vertical .wp-block-navigation__container,
.is-vertical .wp-block-page-list {
  display: flex;
  gap: 0.5em 0;
}
/* Sub Level */
.wp-block-navigation .wp-block-navigation__container > .has-child :where(.submenu-container, .wp-block-navigation-link__container) {
  left: 0;
  top: calc(100% + var(--wp--custom--spacing--base));
}
.wp-block-navigation .has-child :where(.submenu-container, .wp-block-navigation-link__container) {
  margin: 0;
  padding: calc(0.75 * var(--wp--custom--spacing--base));
}
.wp-block-navigation:not(.has-background) .submenu-container,
.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation-link__container {
  background-color: var(--wp--preset--color--accent-color);
  border: 2px solid currentColor;
  color: var(--wp--preset--color--white);
}
:root .wp-block-navigation .has-child li {
  left: 0;
  margin: 0;
}
/* Navigation Button */
.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close {
  align-items: center;
  background-color: var(--wp--preset--color--accent-color);
  box-shadow: none;
  color: var(--wp--preset--color--white);
  height: 36px;
  width: 36px;
}
.wp-block-navigation__responsive-container-open svg,
.wp-block-navigation__responsive-container-close svg {
  height: 24px;
  width: 24px;
  padding: 6px;
}
.wp-block-navigation__responsive-container-close {
  right: var(--wp--custom--spacing--base);
  top: var(--wp--custom--spacing--base);
}
/* Responsive Container */
.wp-block-navigation__responsive-container.is-menu-open {
  padding: calc(2 * var(--wp--custom--spacing--base)) calc(1 * var(--wp--custom--spacing--base));
}
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--accent-color);
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
}
.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open li.has-child > a {
  margin-bottom: calc(0.5 * var(--wp--custom--spacing--base));
}
.wp-block-navigation__responsive-container.is-menu-open :where(.submenu-container, .wp-block-navigation__responsive-container .wp-block-navigation-link__container) a {
  padding: 0;
}
.wp-block-navigation__responsive-container.is-menu-open a:focus {
  text-decoration: underline !important;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}
.wp-block-navigation .wp-block-search {
  margin-top: 0;
  margin-bottom: 0;
}
/*--------------------------------------------------------------
    Block : Paragraph
--------------------------------------------------------------*/
p.has-background {
  padding: var(--wp--custom--spacing--base) calc(1.5 * var(--wp--custom--spacing--base));
}
/* Drop Cap */
.has-drop-cap:not(:focus):first-letter {
  color: var(--wp--preset--color--accent-color);
  font-size: 3.5em;
  font-weight: var(---wp--custom--font-weight--bold);
  padding: 0.2em 0;
  text-align: center;
}
/*--------------------------------------------------------------
    Block : Post Date
--------------------------------------------------------------*/
.wp-block-post-date a {
  text-decoration: none;
}
.wp-block-post-date a:hover, .wp-block-post-date a:focus {
  text-decoration: underline;
}

/*--------------------------------------------------------------
    Block : Post Excerpt
--------------------------------------------------------------*/
.wp-block-post-excerpt > *:first-child {
  margin-top: 0;
}

.wp-block-post-excerpt > *:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
    Block : Post Navigation
--------------------------------------------------------------*/
.post-navigation-link-previous a:before {
  content: "< ";
}

.post-navigation-link-next a:after {
  content: " >";
}

/*--------------------------------------------------------------
    Block : Post Title
--------------------------------------------------------------*/
.wp-block-post-title a {
  text-decoration: none;
}

.wp-block-post-title a:hover, .wp-block-post-title a:focus {
  text-decoration: underline;
}

@media (min-width: 782px) {
  .wp-block-buttons {
    -moz-column-gap: calc(2 * var(--wp--custom--spacing--base));
    column-gap: calc(2 * var(--wp--custom--spacing--base));
  }

  :root .wp-block-calendar caption,
  :root .wp-block-calendar tbody td,
  :root .wp-block-calendar th {
    padding: calc(0.7 * var(--wp--custom--spacing--base));
  }

  .wp-block-post-comments {
    margin-top: calc(8 * var(--wp--custom--spacing--base));
    margin-bottom: calc(8 * var(--wp--custom--spacing--base));
  }
  .wp-block-post-comments .commentlist .comment {
    margin-top: calc(3 * var(--wp--custom--spacing--base));
    margin-bottom: calc(3 * var(--wp--custom--spacing--base));
  }
  .comment-body > .reply {
    min-height: calc(2 * var(--wp--custom--spacing--base));
  }
  .comment-meta {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--wp--preset--font-size--normal);
    justify-content: flex-start;
    margin-bottom: calc(2 * var(--wp--custom--spacing--base));
    min-height: calc(2 * var(--wp--custom--spacing--base));
    padding: 0 100px 0 calc(3 * var(--wp--custom--spacing--base));
    -moz-column-gap: var(--wp--custom--spacing--base);
    column-gap: var(--wp--custom--spacing--base);
  }

  .comment-meta img {
    height: calc(2 * var(--wp--custom--spacing--base));
    width: calc(2 * var(--wp--custom--spacing--base));
  }

  .wp-block-post-comments .comment-author,
  .wp-block-post-comments .comment-metadata > a:not(:only-child) {
    margin-right: var(--wp--custom--spacing--base);
  }

  .wp-block-post-comments .navigation {
    font-size: inherit;
    margin: calc(3 * var(--wp--custom--spacing--base)) 0 0 0;
    padding: calc(4 * var(--wp--custom--spacing--base)) 0 0 0;
  }
  .comment-respond {
    padding: calc(4 * var(--wp--custom--spacing--base));
  }
  .wp-block-post-comments > .comment-respond:not(first-child) {
    margin-top: calc(4 * var(--wp--custom--spacing--base));
  }

  .comment-form p {
    margin-bottom: calc(2 * var(--wp--custom--spacing--base));
  }

  .comment-form .comment-form-author,
  .comment-form .comment-form-email {
    float: left;
    width: calc(50% - var(--wp--custom--spacing--base));
  }

  .comment-form .comment-form-email {
    margin-left: calc(2 * var(--wp--custom--spacing--base));
  }
  .comment-form .comment-form-email + p:before {
    clear: both;
    content: "";
    display: block;
  }
  .comment-form-comment textarea {
    height: 170px;
  }
  .comment-respond input[type=submit] {
    width: auto;
  }
  .commentlist .comment-respond {
    margin-top: calc(3 * var(--wp--custom--spacing--base));
    padding: calc(3 * var(--wp--custom--spacing--base));
  }

  .wp-block-media-text:not(.has-background):not(.is-stacked-on-mobile) .wp-block-media-text__content {
    padding-left: 0;
    padding-right: 0;
  }

  .wp-block-navigation .wp-block-page-list,
  .wp-block-navigation .wp-block-page-list ul, .wp-block-navigation__container, .wp-block-navigation__container ul {
    gap: calc(0.75 * var(--wp--custom--spacing--base)) calc(2 * var(--wp--custom--spacing--base));
  }

  :root nav.wp-block-navigation > *:not(:only-child), :root nav.wp-block-navigation_responsive-container-content > *:not(:only-child) {
    margin-top: calc(1.5 * var(--wp--custom--spacing--base));
    margin-bottom: calc(1.5 * var(--wp--custom--spacing--base));
  }
}
