/*--------------------------------------------------------------
    CSS Variables
--------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
}
/*--------------------------------------------------------------
    Setup
--------------------------------------------------------------*/
:root {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
* {
  letter-spacing: inherit;
}
a {
  text-underline-offset: 0.1em;
  -webkit-text-decoration-skip-ink: all;
  text-decoration-skip-ink: all;
  -webkit-text-decoration-style: underline;
  text-decoration-style: underline;
}
a:hover {
  text-decoration: none;
}
/*--------------------------------------------------------------
    Element Base
--------------------------------------------------------------*/
/* Lists
------------------------------*/
ul,
ol {
  margin: calc(2 * var(--wp--custom--spacing--base)) 0 calc(2 * var(--wp--custom--spacing--base)) 0;
  padding: 0;
}
li {
  margin: calc(0.5 * var(--wp--custom--spacing--base)) 0 calc(0.5 * var(--wp--custom--spacing--base)) 1.2em;
}
li > ul,
li > ol {
  margin-top: calc(0.5 * var(--wp--custom--spacing--base));
  margin-bottom: calc(0.5 * var(--wp--custom--spacing--base));
}
dt,
dd {
  line-height: var(--wp--custom--line-height--body);
}
dt {
  font-weight: var(--wp--custom--font-weight--bold);
}
dt + dd {
  margin-top: 5px;
}
dd + dt {
  margin-top: 15px;
}
/* Media
------------------------------*/
figure {
  margin: 0;
}
iframe,
img,
embed,
object,
svg {
  display: block;
}
iframe {
  border: none;
  max-width: 100%;
}
img,
embed,
object {
  height: auto;
  max-width: 100%;
}
figcaption {
  color: inherit;
  display: block;
  font-size: var(--wp--preset--font-size--small);
  line-height: inherit;
  margin-bottom: 0;
  margin-top: calc(0.7 * var(--wp--custom--spacing--base));
  text-align: left;
}
figcaption a {
  color: inherit;
}
/* Quotes
------------------------------*/
blockquote {
  border-color: currentColor;
  border-style: solid;
  border-width: 0 0 0 2px;
  margin: 0 0 1em 0;
  padding: 0 0 0 var(--wp--custom--spacing--base);
}
cite {
  font-size: var(--wp--preset--font-size--small);
  font-style: normal;
  font-weight: var(--wp--custom--font-weight--bold);
  letter-spacing: var(--wp--custom--letter-spacing);
  text-align: inherit;
  text-transform: uppercase;
}
blockquote cite {
  display: block;
  margin-top: var(--wp--custom--spacing--base);
}
/* Separator
------------------------------*/
hr {
  background-color: var(--wp--preset--color--accent-color);
  border: none !important;
  height: 2px;
  margin-top: calc(2 * var(--wp--custom--spacing--base));
  margin-bottom: calc(2 * var(--wp--custom--spacing--base));
  opacity: 1;
}
/* Tables
------------------------------*/
table {
  font-size: var(--wp--preset--font-size--small);
  margin: calc(2 * var(--wp--custom--spacing--base)) auto;
}
table * {
  border-color: currentColor;
  line-height: inherit;
}
table thead,
table tfoot {
  border: none;
}
tr {
  vertical-align: baseline;
}
th:not([class*=has-text-align-]),
td:not([class*=has-text-align-]) {
  text-align: left;
}
th,
td {
  border-style: solid;
  border-width: 2px;
  min-width: 50px;
}
th,
td,
caption {
  padding: var(--wp--custom--spacing--base);
}
caption {
  background-color: var(--wp--preset--color--accent-color);
  color: var(--wp--preset--color--white);
  text-align: center;
}
/* code
------------------------------*/
pre {
  background-color: var(--wp--preset--color--accent-color);
  color: var(--wp--preset--color--white);
  font-size: var(--wp--preset--font-size--small);
  font-family: var(--wp--preset--font-family--system-monospace);
  line-height: var(--wp--custom--line-height--body);
  padding: calc(1.5 * var(--wp--custom--spacing--base));
  white-space: pre-wrap;
}
/*--------------------------------------------------------------
    Typography
--------------------------------------------------------------*/
*[class*=has-heading-] {
  letter-spacing: var(--wp--custom--letter-spacing--heading);
}
/*--------------------------------------------------------------
    Layout
--------------------------------------------------------------*/
.l-site-header {
  padding: calc(1 * var(--wp--custom--spacing--base)) 0;
  margin-bottom: calc(2 * var(--wp--custom--spacing--base));
}
.l-site-header > .wp-block-columns {
  margin-bottom: 0 !important;
}
.l-site-content {
  width: 100%;
  padding: 0 calc(1 * var(--wp--custom--spacing--base));
  margin-top: 0;
  margin-bottom: 0;
}
.l-site-footer {
  padding: calc(0.5 * var(--wp--custom--spacing--base));
  background-color: var(--wp--preset--color--accent-color);
  color: var(--wp--preset--color--white);
  line-height: 1;
}
@media (min-width: 782px) {
  blockquote {
    padding: 0 0 0 calc(2 * var(--wp--custom--spacing--base));
  }
  blockquote cite {
    margin-top: calc(1.5 * var(--wp--custom--spacing--base));
  }
  .l-site-content {
    padding: 0;
  }
}
