/*--------------------------------------------------------------
    Setup
--------------------------------------------------------------*/
html, body {
  border: none;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
