<!-- wp:template-part {"slug":"header","theme":"cormorant","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;margin-bottom:0">
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"large"} -->
		<p class="has-large-font-size" style="font-style:normal;font-weight:700">It seems like we couldn’t find the page you’re looking for. You can search for it in the form below.</p>
		<!-- /wp:paragraph -->

		<!-- wp:heading -->
		<h2>Search</h2>
		<!-- /wp:heading -->

		<!-- wp:search {"label":"","buttonText":"Search"} /-->

		<!-- wp:heading -->
		<h2>Category</h2>
		<!-- /wp:heading -->

		<!-- wp:tag-cloud {"numberOfTags":40,"taxonomy":"category","showTagCounts":true,"smallestFontSize":"14pt","largestFontSize":"14pt"} /-->

		<!-- wp:heading -->
		<h2>Tags</h2>
		<!-- /wp:heading -->

		<!-- wp:tag-cloud {"numberOfTags":40,"showTagCounts":true,"smallestFontSize":"14pt","largestFontSize":"14pt"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cormorant","tagName":"footer","className":"site-footer"} /-->