<!-- wp:template-part { "slug":"header", "tagName":"header", "className":"l-site-header", "layout":{"inherit":true} } /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:heading {"level":1, "fontSize":"large"} -->
	<h1 class="has-large-font-size">Ooops! That page can't be found.</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>It looks like noting was found at this location. Would you like to try a search?</p>
	<!-- /wp:paragraph -->
	<!-- wp:search {"label":"", "buttonText":"search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part { "slug":"footer", "tagName":"footer", "className":"l-site-footer", "layout":{"inherit":true} } /-->