<!-- wp:template-part {"slug":"header-site-title","theme":"cormorant","tagName":"header","className":"l-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content _archive"} -->
<main class="wp-block-group site-content _archive">
	<!-- wp:group {"align":"wide","className":"archive-header"} -->
	<div class="wp-block-group alignwide archive-header">
		<!-- wp:query-title {"type":"archive","textAlign":"center"} /-->
		<!-- wp:term-description {"textAlign":"center","fontSize":"large"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:query {"queryId":15,"query":{"perPage":"10","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"flex","columns":2}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
			<!-- wp:group {"layout":{"inherit":false}} -->
			<div class="wp-block-group">
				<!-- wp:post-featured-image /-->
				<!-- wp:post-title {"isLink":true} /-->
				<!-- wp:post-date /-->
				<!-- wp:spacer {"height":"50px"} -->
				<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->
			</div>
			<!-- /wp:group -->
			<!-- /wp:post-template -->

			<!-- wp:spacer {"height":"50px"} -->
			<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","className":"is-style-cormorant-foreground-block-pagination","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous {"fontSize":"tiny"} /-->

			<!-- wp:query-pagination-numbers /-->

			<!-- wp:query-pagination-next {"fontSize":"tiny"} /-->
			<!-- /wp:query-pagination -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cormorant","tagName":"footer","className":"l-site-footer"} /-->