<!-- wp:template-part {"slug":"header","theme":"cormorant","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"site-content _archive"} -->
<main class="wp-block-group site-content _archive" style="margin-top:0;margin-bottom:0"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|xl","bottom":"var:preset|spacing|xl","right":"var:preset|spacing|s","left":"var:preset|spacing|s"},"margin":{"top":"0","bottom":"0"}}},"className":"archive-header","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
	<div class="wp-block-group alignwide archive-header" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xl);padding-right:var(--wp--preset--spacing--s);padding-bottom:var(--wp--preset--spacing--xl);padding-left:var(--wp--preset--spacing--s)"><!-- wp:query-title {"type":"archive","textAlign":"center","fontSize":"4-xl"} /-->

		<!-- wp:term-description {"textAlign":"center","fontSize":"xl"} /--></div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"var:preset|spacing|s","bottom":"0","left":"var:preset|spacing|s"},"margin":{"bottom":"var:preset|spacing|2-xl","top":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--2-xl);padding-top:0;padding-right:var(--wp--preset--spacing--s);padding-bottom:0;padding-left:var(--wp--preset--spacing--s)"><!-- wp:query {"queryId":11,"query":{"perPage":"10","pages":"100","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"exclude","inherit":true},"tagName":"section","displayLayout":{"type":"flex","columns":2},"align":"full","className":"is-style-cormorant-solid-line-query-foreground","layout":{"type":"default"}} -->
		<section class="wp-block-query alignfull is-style-cormorant-solid-line-query-foreground"><!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group"><!-- wp:post-template -->
				<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
				<article class="wp-block-group"><!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /-->

					<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"var:preset|spacing|s"}}},"fontSize":"2-xl"} /-->

					<!-- wp:post-date {"style":{"spacing":{"margin":{"top":"var:preset|spacing|s","right":"0","bottom":"0","left":"0"}}},"fontSize":"s"} /--></article>
				<!-- /wp:group -->
				<!-- /wp:post-template --></div>
			<!-- /wp:group -->

			<!-- wp:query-pagination {"className":"is-style-cormorant-foreground-block-pagination is-style-cormorant-block-pagination-foreground","layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
			<!-- wp:query-pagination-previous {"fontSize":"tiny"} /-->

			<!-- wp:query-pagination-numbers /-->

			<!-- wp:query-pagination-next {"fontSize":"tiny"} /-->
			<!-- /wp:query-pagination --></section>
		<!-- /wp:query --></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cormorant","tagName":"footer","className":"site-footer"} /-->