<!-- wp:template-part {"slug":"header-1","theme":"cormorant","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"site-content _front-page"} -->
<main class="wp-block-group site-content _front-page" style="margin-top:0;margin-bottom:0">
<!-- wp:pattern {"slug":"cormorant/page-starter-front-page"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-1","theme":"cormorant","tagName":"footer","className":"site-footer"} /-->