<!-- wp:template-part {"slug":"header-1","theme":"cormorant","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|l","right":"var:preset|spacing|s","bottom":"var:preset|spacing|l","left":"var:preset|spacing|s"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--l);padding-right:var(--wp--preset--spacing--s);padding-bottom:var(--wp--preset--spacing--l);padding-left:var(--wp--preset--spacing--s)"><!-- wp:query {"queryId":11,"query":{"perPage":"10","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"tagName":"section","displayLayout":{"type":"flex","columns":2},"align":"full","className":"is-style-cormorant-solid-line-query-foreground","layout":{"type":"default"}} -->
	<section class="wp-block-query alignfull is-style-cormorant-solid-line-query-foreground"><!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group"><!-- wp:post-template -->
			<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
			<article class="wp-block-group"><!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /-->

				<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"var:preset|spacing|s"}}},"fontSize":"2-xl"} /-->

				<!-- wp:post-date {"style":{"spacing":{"margin":{"top":"var:preset|spacing|s","right":"0","bottom":"0","left":"0"}}},"fontSize":"s"} /--></article>
			<!-- /wp:group -->
			<!-- /wp:post-template --></div>
		<!-- /wp:group -->

		<!-- wp:query-pagination {"className":"is-style-cormorant-foreground-block-pagination is-style-cormorant-block-pagination-foreground","layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
		<!-- wp:query-pagination-previous {"fontSize":"tiny"} /-->

		<!-- wp:query-pagination-numbers /-->

		<!-- wp:query-pagination-next {"fontSize":"tiny"} /-->
		<!-- /wp:query-pagination --></section>
	<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-1","theme":"cormorant","tagName":"footer","className":"site-footer"} /-->