<!-- wp:template-part {"slug":"header-site-title","theme":"cormorant","tagName":"header","className":"l-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"l-site-content"} -->
<main class="wp-block-group l-site-content">
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:post-title {"textAlign":"center","level":1} /-->

		<!-- wp:post-featured-image {"align":"full"} /-->

		<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cormorant","tagName":"footer","className":"l-site-footer"} /-->