<!-- wp:template-part {"slug":"header","theme":"cormorant","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|3-xl","left":"0","right":"0"}}},"className":"site-content _single","layout":{"type":"default"}} -->
<main class="wp-block-group site-content _single" style="padding-right:0;padding-bottom:var(--wp--preset--spacing--3-xl);padding-left:0"><!-- wp:group {"tagName":"header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|m"},"blockGap":"0"}},"layout":{"type":"default"}} -->
	<header class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--m)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|xl","bottom":"var:preset|spacing|xl"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--xl);padding-bottom:var(--wp--preset--spacing--xl)"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /--></div>
		<!-- /wp:group --></header>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xl"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--xl)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","orientation":"horizontal"},"fontSize":"s"} -->
		<div class="wp-block-group has-s-font-size"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow","className":"is-style-cormorant-block-post-navigation-foreground"} /-->

			<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow","className":"is-style-cormorant-block-post-navigation-foreground"} /--></div>
		<!-- /wp:group --></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cormorant","tagName":"footer","className":"site-footer"} /-->