<!-- wp:template-part {"slug":"header","theme":"cormorant","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|3-xl","left":"0","right":"0"}}},"className":"site-content _single","layout":{"type":"default"}} -->
<main class="wp-block-group site-content _single" style="padding-right:0;padding-bottom:var(--wp--preset--spacing--3-xl);padding-left:0"><!-- wp:group {"tagName":"header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|xl"}}},"layout":{"type":"constrained"}} -->
	<header class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--xl)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|xl","bottom":"var:preset|spacing|xl"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--xl);padding-bottom:var(--wp--preset--spacing--xl)"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->

			<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|xs"}},"textColor":"base","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"},"fontSize":"xs"} -->
			<div class="wp-block-group has-base-color has-text-color has-xs-font-size"><!-- wp:post-date {"displayType":"modified","style":{"spacing":{"margin":{"top":"5px","bottom":"5px","left":"5px","right":"5px"}}}} /-->

				<!-- wp:post-terms {"term":"category","style":{"spacing":{"margin":{"top":"5px","bottom":"5px","left":"5px","right":"5px"}}},"className":"is-style-default"} /-->

				<!-- wp:post-terms {"term":"post_tag","style":{"spacing":{"margin":{"top":"5px","bottom":"5px","left":"5px","right":"5px"}}},"className":"is-style-default"} /--></div>
			<!-- /wp:group --></div>
		<!-- /wp:group -->

		<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
		<div class="wp-block-group alignwide" style="margin-top:0"><!-- wp:post-featured-image {"aspectRatio":"16/9","align":"full"} /--></div>
		<!-- /wp:group --></header>
	<!-- /wp:group -->

	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

	<!-- wp:group {"tagName":"aside","style":{"spacing":{"margin":{"top":"var:preset|spacing|3-xl"}}},"layout":{"type":"constrained"}} -->
	<aside class="wp-block-group" style="margin-top:var(--wp--preset--spacing--3-xl)"><!-- wp:comments {"className":"wp-block-comments-query-loop "} -->
		<div class="wp-block-comments wp-block-comments-query-loop"><!-- wp:comments-title /-->

			<!-- wp:comment-template -->
			<!-- wp:columns -->
			<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
				<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
				<!-- /wp:column -->

				<!-- wp:column -->
				<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

					<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
					<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

						<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
					<!-- /wp:group -->

					<!-- wp:comment-content /-->

					<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
				<!-- /wp:column --></div>
			<!-- /wp:columns -->
			<!-- /wp:comment-template -->

			<!-- wp:comments-pagination {"paginationArrow":"arrow","className":"is-style-cormorant-foreground-block-pagination","layout":{"type":"flex","justifyContent":"center"},"fontSize":"s"} -->
			<!-- wp:comments-pagination-previous /-->

			<!-- wp:comments-pagination-numbers /-->

			<!-- wp:comments-pagination-next /-->
			<!-- /wp:comments-pagination -->

			<!-- wp:spacer {"height":"var:preset|spacing|xl"} -->
			<div style="height:var(--wp--preset--spacing--xl)" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-comments-form {"fontSize":"s"} /--></div>
		<!-- /wp:comments --></aside>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xl"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--xl)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","orientation":"horizontal"},"fontSize":"s"} -->
		<div class="wp-block-group has-s-font-size"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow","className":"is-style-cormorant-block-post-navigation-foreground"} /-->

			<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow","className":"is-style-cormorant-block-post-navigation-foreground"} /--></div>
		<!-- /wp:group --></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cormorant","tagName":"footer","className":"site-footer"} /-->