<!-- wp:template-part {"slug":"header","theme":"cormorant","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"site-content _single"} -->
<main class="wp-block-group site-content _single" style="margin-top:0;margin-bottom:0"><!-- wp:group {"tagName":"article"} -->
	<article class="wp-block-group"><!-- wp:group {"tagName":"header","style":{"spacing":{"padding":{"top":"var:preset|spacing|l","bottom":"var:preset|spacing|l"}}},"layout":{"inherit":true,"type":"constrained"}} -->
		<header class="wp-block-group" style="padding-top:var(--wp--preset--spacing--l);padding-bottom:var(--wp--preset--spacing--l)"><!-- wp:group -->
			<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"4-xl"} /-->

				<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"0"}}},"textColor":"primary","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"},"fontSize":"s"} -->
				<div class="wp-block-group has-primary-color has-text-color has-s-font-size" style="margin-bottom:0"><!-- wp:post-date {"isLink":true,"displayType":"modified"} /-->

					<!-- wp:post-terms {"term":"category"} /-->

					<!-- wp:post-terms {"term":"post_tag"} /--></div>
				<!-- /wp:group --></div>
			<!-- /wp:group --></header>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="margin-top:0"><!-- wp:post-featured-image {"align":"center"} /--></div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|s","left":"var:preset|spacing|s"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--s);padding-left:var(--wp--preset--spacing--s)"><!-- wp:post-content {"layout":{"inherit":true}} /--></div>
		<!-- /wp:group --></article>
	<!-- /wp:group -->

	<!-- wp:spacer -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"tagName":"aside","style":{"spacing":{"padding":{"right":"var:preset|spacing|s","left":"var:preset|spacing|s"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<aside class="wp-block-group" style="padding-right:var(--wp--preset--spacing--s);padding-left:var(--wp--preset--spacing--s)"><!-- wp:comments {"className":"wp-block-comments-query-loop "} -->
		<div class="wp-block-comments wp-block-comments-query-loop"><!-- wp:comments-title /-->

			<!-- wp:comment-template -->
			<!-- wp:columns -->
			<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
				<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
				<!-- /wp:column -->

				<!-- wp:column -->
				<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

					<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
					<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

						<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
					<!-- /wp:group -->

					<!-- wp:comment-content /-->

					<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
				<!-- /wp:column --></div>
			<!-- /wp:columns -->
			<!-- /wp:comment-template -->

			<!-- wp:comments-pagination {"className":"is-style-cormorant-foreground-block-pagination"} -->
			<!-- wp:comments-pagination-previous /-->

			<!-- wp:comments-pagination-numbers /-->

			<!-- wp:comments-pagination-next /-->
			<!-- /wp:comments-pagination -->

			<!-- wp:post-comments-form /--></div>
		<!-- /wp:comments --></aside>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"50px"} -->
	<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|s","left":"var:preset|spacing|s"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--s);padding-left:var(--wp--preset--spacing--s)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true,"className":"is-style-cormorant-block-post-navigation-foreground"} /-->

			<!-- wp:post-navigation-link {"showTitle":true,"linkLabel":true,"className":"is-style-cormorant-block-post-navigation-foreground"} /--></div>
		<!-- /wp:group --></div>
	<!-- /wp:group -->

	<!-- wp:spacer -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cormorant","tagName":"footer","className":"site-footer"} /-->