/*--------------------------------------------------------------
    Block: Base Margins
--------------------------------------------------------------*/
.wp-block-archives,
.wp-block-button,
.wp-block-calendar,
.wp-block-categories,
.wp-block-code,
.wp-block-columns,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-embed,
.wp-block-file,
.wp-block-gallery,
.wp-block-group,
.wp-block-image,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-media-text,
.wp-block-navigation,
.wp-block-post-excerpt,
.wp-block-post-featured-image,
.wp-block-preformatted,
.wp-block-pullquote,
.wp-block-query,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-search,
.wp-block-separator,
.wp-block-site-title,
.wp-block-social,
.wp-block-social-links,
.wp-block-tag-cloud,
.wp-block-table,
.wp-block-verse,
.wp-block-video {
  margin-bottom: calc(2 * var(--wp--custom--spacing--base));
  margin-top: calc(2 * var(--wp--custom--spacing--base));
}

/*--------------------------------------------------------------
    Block: Buttons
--------------------------------------------------------------*/
.wp-block-buttons {
  margin-top: calc(1.5 * var(--wp--custom--spacing--base));
  margin-bottom: calc(1.5 * var(--wp--custom--spacing--base));
  column-gap: calc(1.5 * var(--wp--custom--spacing--base));

  @media (min-width: 782px) {
    column-gap: calc(2 * var(--wp--custom--spacing--base));
  }

  & > .wp-block-button {
    margin: calc(0.5 * var(--wp--custom--spacing--base)) 0;
  }

  &:first-child {
    & > .wp-block-button:only-child {
      margin-top: 0;
    }
  }

  &:last-child {
    & > .wp-block-button:only-child {
      margin-bottom: 0;
    }
  }
}

.wp-block-button__link,
:root .wp-block-file__button {
  text-align: center;
}

:root {
  .wp-block-button__link,
  .wp-block-file__button {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/* Style: outline
------------------------------*/
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
  padding: .9em 1.3em;
}