/*--------------------------------------------------------------
    Block: Base Margins
--------------------------------------------------------------*/
.wp-block-archives,
.wp-block-button,
.wp-block-calendar,
.wp-block-categories,
.wp-block-code,
.wp-block-columns,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-embed,
.wp-block-file,
.wp-block-gallery,
.wp-block-group,
.wp-block-image,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-media-text,
.wp-block-navigation,
.wp-block-post-excerpt,
.wp-block-post-featured-image,
.wp-block-preformatted,
.wp-block-pullquote,
.wp-block-query,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-search,
.wp-block-separator,
.wp-block-site-title,
.wp-block-social,
.wp-block-social-links,
.wp-block-tag-cloud,
.wp-block-table,
.wp-block-verse,
.wp-block-video {
  margin-bottom: calc(2 * var(--wp--custom--spacing--base));
  margin-top: calc(2 * var(--wp--custom--spacing--base));
}

/*--------------------------------------------------------------
    Block: Buttons
--------------------------------------------------------------*/
.wp-block-buttons {
  margin-top: calc(1.5 * var(--wp--custom--spacing--base));
  margin-bottom: calc(1.5 * var(--wp--custom--spacing--base));
  column-gap: calc(1.5 * var(--wp--custom--spacing--base));

  @media (min-width: 782px) {
    column-gap: calc(2 * var(--wp--custom--spacing--base));
  }

  & > .wp-block-button {
    margin: calc(0.5 * var(--wp--custom--spacing--base)) 0;
  }

  &:first-child {
    & > .wp-block-button:only-child {
      margin-top: 0;
    }
  }

  &:last-child {
    & > .wp-block-button:only-child {
      margin-bottom: 0;
    }
  }
}

.wp-block-button__link,
:root .wp-block-file__button {
  text-align: center;
}

:root {
  .wp-block-button__link,
  .wp-block-file__button {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/* Style: outline
------------------------------*/
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
  padding: .9em 1.3em;
}

/*--------------------------------------------------------------
    Block : Calendar
--------------------------------------------------------------*/
.wp-block-calendar {
  table {
    background-color: var(--wp--preset--color--recommended-color-03);
    color: inherit;
    font-size: inherit;
    margin: 0;
  }

  :root & {
    caption,
    tbody td,
    th {
      border: 2px solid var(--wp--preset--color--sub-accent-color);
      color: inherit;
      padding: calc(0.3 * var(--wp--custom--spacing--base)) 0;
      text-align: center;
      @media (min-width: 782px) {
        padding: calc(0.7 * var(--wp--custom--spacing--base));
      }
    }

    caption {
      color: var(--wp--preset--color--white);
    }

    table {
      thead {
        border: none;
      }

      th {
        background-color: transparent;
        font-weight: var(--wp--custom--font-weight--bold);
      }
    }

    nav {
      display: flex;
      justify-content: space-between;
      margin-top: var(--wp--custom--spacing--base);
    }
  }
}

.wp-calendar-table {
  :root & {
    caption {
      background-color: var(--wp--preset--color--accent-color);
      border-bottom: none;
      font-size: var(--wp--preset--font-size--small);
      letter-spacing: var(--wp--custom--letter-spacing--body);
      text-transform: uppercase;
    }
  }
}

/*--------------------------------------------------------------
    Block : Columns
--------------------------------------------------------------*/
.wp-block-columns {

  .wp-block-column {

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

  }
}

.wp-block-column {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: calc(2 * var(--wp--custom--spacing--base));
  }
}