.editor-styles-wrapper {
  .edit-post-visual-editor__post-title-wrapper {
    margin-bottom: 4rem;
  }
  .block-editor-block-list__layout {
    p {
      > code {
        position: relative;
        font-family: var( --wp--preset--font-family--system-monospace );
        color: var( --wp--preset--color--dark-gray );
        &:before,
        &:after {
          content: '`';
        }
      }
    }
  }
}