/*--------------------------------------------------------------
    Setup
--------------------------------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
textarea,
select {
  background-color: var( --wp--preset--color--background );
  border: 1px solid var( --wp--preset--color--primary );
  border-radius: 5px;
  color: var( --wp--preset--color--foreground );
  max-width: 100%;
  padding: .5em;
}

label {
  font-size: var( --wp--preset--font-size--small );
  font-weight: 700;
}

/*--------------------------------------------------------------
    Core Blocks
--------------------------------------------------------------*/
.site-header {
  /* core/site-title
  ------------------------------*/
  .wp-block-site-title {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* core/post-content
------------------------------*/
.wp-block-post-content,
.site-content {
  padding-left: var( --wp--custom--spacing--unit );
  padding-right: var( --wp--custom--spacing--unit );
  @media ( min-width: 782px ) {
    padding-left: 0;
    padding-right: 0;
  }
  .page-template-template-blank & {
    padding-left: 0;
    padding-right: 0;
  }
}

/* core/post-comments
------------------------------*/
.wp-block-post-comments {
  & > h3 {
    font-weight: 700;
  }
  .navigation {

  }
  .commentlist {

  }
  .navigation {

  }
  .comment-respond {
    .comment-reply-title {
      font-weight: 700;
    }
  }
}

/* core/query
------------------------------*/
.wp-block-query {
  .wp-block-post-template {
    .wp-block-post {
      .wp-block-post-title,
      .wp-block-post-date {
        margin-block-start: .25em;
      }
    }
  }
}

/* core/comments-query-loop
------------------------------*/
.wp-block-comments-query-loop {
  .comment-respond {
    .comment-form {
      display: flex;
      flex-direction: column;
      > * {
        margin-block-start: calc( 0.5 * var( --wp--style--block-gap ) );
      }
    }
  }
}

/* core/group
------------------------------*/
:where(.wp-block-group.has-background) {
  padding: var( --wp--preset--spacing--m );
}

/*--------------------------------------------------------------
    Block Styles
--------------------------------------------------------------*/
/* Color Palette
------------------------------*/
$colors: foreground, background, primary, secondary, tertiary, quaternary;

/* core/separator
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-striped-separator-#{$color} {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, var( --wp--preset--color--#{$color} ) 5px, var( --wp--preset--color--#{$color} ) 10px);
    background-color: transparent;
    height: 5px;
    border-bottom: none;
    &:not(.is-style-wide):not(.is-style-dots) {
      width: 100%;
    }
  }
}

@each $color in $colors {
  .is-style-cormorant-dotted-separator-#{$color} {
    width: 100% !important;
    border: none;
    border-bottom: 5px dotted var(--wp--preset--color--#{$color});
  }
}

@each $color in $colors {
  .is-style-cormorant-dashed-separator-#{$color} {
    width: 100% !important;
    border: none;
    border-bottom: 5px dashed var(--wp--preset--color--#{$color});
  }
}

/* core/heading
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-striped-heading-#{$color} {
    position: relative;
    padding-left: .2em;
    &:after {
      background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, var(--wp--preset--color--#{$color}) 5px, var(--wp--preset--color--#{$color}) 10px);
      position: absolute;
      top: inherit !important;
      right: inherit !important;
      bottom: 0 !important;
      left: -10px !important;
      display: block;
      content: '';
      width: 100%;
      background-color: transparent;
      height: 5px;
    }
  }
}

@each $color in $colors {
  .is-style-cormorant-dotted-heading-#{$color} {
    padding-left: .2em;
    border-bottom: 5px dotted var(--wp--preset--color--#{$color});
  }
}

@each $color in $colors {
  .is-style-cormorant-dashed-heading-#{$color} {
    padding-left: .2em;
    border-bottom: 5px dashed var(--wp--preset--color--#{$color});
  }
}

/* core/group
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-solid-shadow-#{$color} {
    border: 1px solid var(--wp--preset--color--#{$color});
    padding: var( --wp--preset--spacing--s );
    box-shadow: 5px 5px var(--wp--preset--color--#{$color});
  }
}

@each $color in $colors {
  .is-style-cormorant-blur-shadow-#{$color} {
    padding: var( --wp--preset--spacing--s );
    box-shadow: 0 0 20px var(--wp--preset--color--#{$color});
  }
}

/* core/image
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-striped-image-background-#{$color} {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, var( --wp--preset--color--#{$color} ) 10px, var( --wp--preset--color--#{$color} ) 20px);
    & > img {
      border-color: var( --wp--preset--color--#{$color} );
    }

    padding: clamp( 10px, 1vw, 2vw );
    & > img {
      border: 2px solid;
    }
    & > figcaption {
      margin: 0;
      padding: .2em;
      background-color: var( --wp--preset--color--background );
    }
  }
}

/* core/query-pagination
------------------------------*/
/* Default */
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next,
.post-navigation-link-previous,
.post-navigation-link-next {
  text-decoration: none;
}
.wp-block-query-pagination {
  .wp-block-query-pagination-numbers {
    .page-numbers {

    }
  }
}

/* Style block */
@each $color in $colors {
  @if $color != background {
    .wp-block-query-pagination.is-style-cormorant-block-pagination-#{$color} {
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
      @media (min-width: 782px) {
        flex-wrap: wrap;
        flex-direction: inherit;
      }

      .wp-block-query-pagination-previous,
      .wp-block-query-pagination-next,
      .post-navigation-link-previous,
      .post-navigation-link-next {
        &:empty {
          display: none;
        }
        display: inline-block;
        margin: 0;
        width: 100%;
        padding: 1em 1.5em;
        line-height: 1;
        background-color: var(--wp--preset--color--#{$color});
        color: var(--wp--preset--color--background);
        transition: all .5s ease;
        &:hover {
          opacity: 0.75;
        }
        @media (min-width: 782px) {
          width: auto;
        }
      }

      .wp-block-query-pagination-next:has(.is-arrow-arrow) {
        text-align: right;
      }

      .wp-block-query-pagination-numbers {
        margin: 0;

        .page-numbers {
          display: inline-block;
          padding: .5em 1em;
          border: 2px solid var(--wp--preset--color--#{$color});
          background-color: var(--wp--preset--color--background);
          color: var(--wp--preset--color--#{$color});
          text-decoration: none;
          transition: all .5s ease;
          &:not(.current):hover {
            opacity: 0.75;
          }
          &.current {
            background-color: var(--wp--preset--color--#{$color});
            color: var(--wp--preset--color--background);
          }
        }
      }
    }
  }
}

/* Style circle */
@each $color in $colors {
  @if $color != background {
    .wp-block-query-pagination.is-style-cormorant-circle-pagination-#{$color} {
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
      @media (min-width: 782px) {
        flex-wrap: wrap;
        flex-direction: inherit;
      }

      .wp-block-query-pagination-previous,
      .wp-block-query-pagination-next,
      .post-navigation-link-previous,
      .post-navigation-link-next {
        &:empty {
          display: none;
        }

        display: inline-block;
        margin: 0;
        width: 100%;
        padding: 1em 1.5em;
        line-height: 1;
        background-color: var(--wp--preset--color--#{$color});
        border-radius: 1.5em;
        color: var(--wp--preset--color--background);
        transition: all .5s ease;
        &:hover {
          opacity: 0.75;
        }
        @media (min-width: 782px) {
          width: auto;
        }
      }

      .wp-block-query-pagination-next:has(.is-arrow-arrow) {
        text-align: right;
      }

      .wp-block-query-pagination-numbers {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        .page-numbers {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          border: 2px solid var(--wp--preset--color--#{$color});
          border-radius: 1.5rem;
          background-color: var(--wp--preset--color--background);
          color: var(--wp--preset--color--#{$color});
          text-decoration: none;
          transition: all .5s ease;
          &:not(.current):hover {
            opacity: 0.75;
          }
          &.current {
            background-color: var(--wp--preset--color--#{$color});
            color: var(--wp--preset--color--background);
          }
        }
      }
    }
  }
}

/* core/code
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-#{$color}-code {
    @if $color == background or $color == secondary {
      color: var( --wp--preset--color--foreground );
    } @else {
      color: var( --wp--preset--color--background );
    }
    background-color: var( --wp--preset--color--#{$color});
    padding: var( --wp--preset--spacing--m );
    border-radius: 0;
    border: none;
  }
}

/* core/button
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-#{$color}-filled-square-button {
    .wp-block-button__link {
      background: var(--wp--preset--color--#{$color});
      border: 2px solid var(--wp--preset--color--#{$color});
      border-radius: 0 !important;
      transition: all .5s ease;
      @if $color == background {
        color: var(--wp--preset--color--foreground);
      } @else {
        color: var(--wp--preset--color--background);
      }

      &:hover {
        background: transparent;
        color: var(--wp--preset--color--#{$color});
      }
    }
  }
  .is-style-cormorant-#{$color}-outline-square-button {
    .wp-block-button__link {
      background: transparent;
      border: 2px solid var(--wp--preset--color--#{$color});
      border-radius: 0 !important;
      color: var(--wp--preset--color--#{$color});
      transition: all .5s ease;

      &:hover {
        background: var(--wp--preset--color--#{$color});
        color: var(--wp--preset--color--background);
        @if $color == foreground or $color == secondary {
          color: var(--wp--preset--color--background);
        } @else {
          color: var(--wp--preset--color--foreground);
        }
      }
    }
  }
}

/* core/column
------------------------------*/
.is-style-cormorant-foreground-shadow-column {
  box-shadow: 0 0 10px var( --wp--preset--color--foreground );
}

.is-style-cormorant-background-shadow-column {
  box-shadow: 0 0 10px var( --wp--preset--color--background );
}

/*--------------------------------------------------------------
    Custom style for DEMO
--------------------------------------------------------------*/
@media ( max-width: 781px ) {
  .demo-first-view {
    min-height: 100vh;
    .wp-block-columns {
      .wp-block-column {
        padding-left: calc(0.5 * var(--wp--preset--spacing--m));
        padding-right: calc(0.5 * var(--wp--preset--spacing--m));
      }
    }
  }
  .demo-feature-points {

    padding: calc(0.5 * var(--wp--preset--spacing--m)) !important;

    .wp-block-columns {
      gap: 1em;
    }
  }
}
@media (min-width: 782px) {
  .demo-first-view {
    padding-bottom: 140px;
    min-height: 780px;
  }
  .demo-feature-points {
    padding: inherit;
    margin-top: -140px !important;
    position: relative;
    z-index: 10;
  }
}