/*--------------------------------------------------------------
    Setup
--------------------------------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
textarea,
select {
  background-color: var( --wp--preset--color--background );
  border: 1px solid var( --wp--preset--color--primary );
  border-radius: 5px;
  color: var( --wp--preset--color--foreground );
  max-width: 100%;
  padding: .5em;
}

label {
  font-size: var( --wp--preset--font-size--small );
  font-weight: 700;
}

/*--------------------------------------------------------------
    Core Blocks
--------------------------------------------------------------*/
.site-header {
  /* core/site-title
  ------------------------------*/
  .wp-block-site-title {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* core/post-content
------------------------------*/
.wp-block-post-content,
.site-content {
  padding-left: var( --wp--custom--spacing--unit );
  padding-right: var( --wp--custom--spacing--unit );
  @media ( min-width: 782px ) {
    padding-left: 0;
    padding-right: 0;
  }
}

/* core/post-comments
------------------------------*/
.wp-block-post-comments {
  & > h3 {
    font-weight: 700;
  }
  .navigation {

  }
  .commentlist {

  }
  .navigation {

  }
  .comment-respond {
    .comment-reply-title {
      font-weight: 700;
    }
  }
}

/* core/query
------------------------------*/
.wp-block-query {
  .wp-block-post-template {
    .wp-block-post {
      .wp-block-post-title,
      .wp-block-post-date {
        margin-block-start: .25em;
      }
    }
  }
}

/* core/comments-query-loop
------------------------------*/
.wp-block-comments-query-loop {
  .comment-respond {
    .comment-form {
      display: flex;
      flex-direction: column;
      > * {
        margin-block-start: calc( 0.5 * var( --wp--style--block-gap ) );
      }
    }
  }
}

/*--------------------------------------------------------------
    Block Styles
--------------------------------------------------------------*/
/* Color Palette
------------------------------*/
$colors: foreground, background, primary, secondary, tertiary, quaternary;

/* core/separator
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-#{$color}-striped-separator {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, var( --wp--preset--color--#{$color} ) 10px, var( --wp--preset--color--#{$color} ) 20px);
    background-color: transparent;
    height: 15px;
    border-bottom: none;
    &:not(.is-style-wide):not(.is-style-dots) {
      width: 100%;
    }
  }
}

@each $color in $colors {
  .is-style-cormorant-#{$color}-dotted-separator {
    width: 100% !important;
    border: none;
    border-bottom: 15px dotted var(--wp--preset--color--#{$color});
  }
}

@each $color in $colors {
  .is-style-cormorant-#{$color}-dashed-separator {
    width: 100% !important;
    border: none;
    border-bottom: 15px dashed var(--wp--preset--color--#{$color});
  }
}

/* core/heading
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-#{$color}-striped-heading {
    position: relative;
    padding-bottom: 15px;
    &:after {
      background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, var(--wp--preset--color--#{$color}) 10px, var(--wp--preset--color--#{$color}) 20px);
      position: absolute;
      top: inherit !important;
      right: inherit !important;
      bottom: 0 !important;
      left: -10px !important;
      display: block;
      content: '';
      width: 100%;
      background-color: transparent;
      height: 15px;
    }
  }
}

@each $color in $colors {
  .is-style-cormorant-#{$color}-dotted-heading {
    padding-bottom: 0.05em;
    border-bottom: 0.3em dotted var(--wp--preset--color--#{$color});
  }
}

@each $color in $colors {
  .is-style-cormorant-#{$color}-dashed-heading {
    padding-bottom: 0.05em;
    border-bottom: 0.3em dashed var(--wp--preset--color--#{$color});
  }
}

/* core/image
------------------------------*/
@each $color in $colors {
  .is-style-cormorant-#{$color}-striped-image-background {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, var( --wp--preset--color--#{$color} ) 10px, var( --wp--preset--color--#{$color} ) 20px);
    & > img {
      border-color: var( --wp--preset--color--#{$color} );
    }

    padding: clamp( 10px, 1vw, 2vw );
    & > img {
      border: 2px solid;
    }
    & > figcaption {
      margin: 0;
      padding: .2em;
      background-color: var( --wp--preset--color--background );
    }
  }
}

/* core/query-pagination
------------------------------*/
@each $color in $colors {
  @if $color != background {
    .wp-block-query-pagination.is-style-cormorant-#{$color}-block-pagination {
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
      @media (min-width: 782px) {
        flex-wrap: wrap;
        flex-direction: inherit;
      }

      .wp-block-query-pagination-previous:has(.is-arrow-arrow),
      .wp-block-query-pagination-next:has(.is-arrow-arrow),
      .post-navigation-link-previous,
      .post-navigation-link-next {
        &:empty {
          display: none;
        }
        display: inline-block;
        margin: 0;
        width: 100%;
        padding: 1em 1.5em;
        line-height: 1;
        background-color: var(--wp--preset--color--#{$color});
        color: var(--wp--preset--color--background);
        @media (min-width: 782px) {
          width: auto;
        }
      }

      .wp-block-query-pagination-next:has(.is-arrow-arrow) {
        text-align: right;
      }

      .wp-block-query-pagination-numbers {
        margin: 0;

        .page-numbers {
          display: inline-block;
          padding: .5em 1em;
          border: 2px solid var(--wp--preset--color--#{$color});
          background-color: var(--wp--preset--color--background);
          color: var(--wp--preset--color--#{$color});

          &.current {
            background-color: var(--wp--preset--color--#{$color});
            color: var(--wp--preset--color--background);
          }
        }
      }
    }
  }
}