.is-style-cormorant-solid-shadow-group {
  border: 1px solid currentColor;
  box-shadow: 5px 5px currentColor;
}

.is-style-cormorant-blur-shadow-group {
  box-shadow: 0 0 10px var(--wp--preset--color--lighter-gray);
}
